# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/

# =====================
# Environment / Secrets
# =====================
.env
.env.*
!.env.example

# =====================
# Data (raw & generated)
# =====================
dataset/
*.csv
*.parquet
*.json
*.sql

# =====================
# AI / Models (ВАЖНО!)
# =====================
models/
*.gguf
*.bin
*.safetensors
*.pth
qdrant_storage/

# =====================
# PyCharm
# =====================
.idea/
*.iml

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log
