services:
  # 0. Подготовка данных и скачивание моделей
  data-prepper:
    build: .
    container_name: job-opt-prepper
    volumes:
      - ./data:/app/data
      - hf_cache:/root/.cache/huggingface
    env_file: .env
    environment:
      - HF_TOKEN=${HF_TOKEN}  # Передаем токен для авторизации в Hugging Face
    command: python src/data/prepare.py
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # 1. Backend API (FastAPI)
  backend:
    build: .
    container_name: job-opt-backend
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
#      - .:/app                      #Для reload
      - hf_cache:/root/.cache/huggingface
    env_file: .env
    environment:
      - HF_TOKEN=${HF_TOKEN}  # Токен также нужен здесь для работы Transformers
    command: uvicorn src.api.main:app --host 0.0.0.0 --port 8000
    depends_on:
      data-prepper:
        condition: service_completed_successfully
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # 2. Frontend (Streamlit)
  frontend:
    build: .
    container_name: job-opt-frontend
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data
#      - .:/app                      #Для reload
    env_file: .env
    environment:
      - BACKEND_URL=http://backend:8000/optimize  # Указываем фронтенду путь к бекенду
    command: streamlit run src/demo/app.py --server.port 8501 --server.address 0.0.0.0
    depends_on:
      - backend
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  hf_cache:
