version: '3.9'

services:
  # 1. ETL: Готовит данные
  etl:
    build: .
    volumes:
      - ./dataset:/app/dataset
      - ./.env:/app/.env
    command: bash -c "python -m src.data.extract_descriptions && python -m src.data.merge_dataset && python -m src.data.process_metrics"

  # 2. API: Держит нейросети (Server)
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./dataset:/app/dataset
      - ./.env:/app/.env
    # Увеличиваем таймаут, так как LLM может думать долго
    command: uvicorn src.api.main:app --host 0.0.0.0 --port 8000 --timeout-keep-alive 120
    depends_on:
      - etl

  # 3. DEMO: Интерфейс (Client)
  demo:
    build: .
    ports:
      - "8501:8501"
    volumes:
      - ./dataset:/app/dataset
    environment:
      # ВОТ ЭТО КЛЮЧЕВОЙ МОМЕНТ ДЛЯ ПРАВИЛЬНОЙ АРХИТЕКТУРЫ
      - API_URL=http://api:8000
    command: streamlit run src/demo/app.py
    depends_on:
      - api
